body {
	background-image: url('../images/bg.gif');
	background-repeat: repeat;
	background-color: #fff;
	height: 100%;
	margin: 0;
	padding: 0;
}

a:link,a:visited,a:active {
	text-decoration: none;
	color: #5B83B5;
}

a:hover {
	color: #000;
}

div {
	margin: 0;
	padding: 0;
}

#topshadow {
	background: url('../images/topshadow.png') no-repeat;
	height: 15px;
	margin: 40px auto 0px;
	overflow: hidden;
	padding: 0;
	width: 980px;
	display: block;
}

#bottomshadow {
	background: url('../images/bottomshadow.png') repeat-x;
	height: 15px;
	margin: 0px auto 40px;
	overflow: hidden;
	width: 980px;
}

#page-wrapper,.region-page-closure { /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
	/*background: url('../images/middleshadow.png') repeat-y;*/
	/*display:inline-block;*/
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	margin: 20px auto;
	width:980px;
}

#content {
	padding: 20px;
}

#page {
	min-width:980px;
	float:left;
	margin: 0 auto;
	background: #ddd;
	border: 3px solid #fff;
	min-height: 670px;
	margin-bottom: 30px;
}

/** Css menu for primary links*/
.menu {
	border: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans",
		"Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica,
		sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.menu ul {
	background: #333333;
	height: 35px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	float: left;
	padding: 0px;
}

.menu li a {
	background: #333333;
	color: #cccccc;
	display: block;
	font-weight: normal;
	line-height: 35px;
	margin: 0px;
	padding: 0px 25px;
	text-align: center;
	text-decoration: none;
}

.menu li a:hover,.menu ul li:hover a {
	background: #2580a2;
	color: #FFFFFF;
	text-decoration: none;
}

.menu li ul {
	background: #333333;
	display: none;
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: absolute;
	width: 225px;
	z-index: 200;
	/*top:1em;
		/*left:0;*/
}

.menu li:hover ul {
	display: block;
}

.menu li li {
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 225px;
}

.menu li:hover li a {
	background: none;
}

.menu li ul a {
	display: block;
	height: 35px;
	font-size: 12px;
	font-style: normal;
	margin: 0px;
	padding: 0px 10px 0px 15px;
	text-align: left;
}

.menu li ul a:hover,.menu li ul li:hover a {
	background: #2580a2;
	border: 0px;
	color: #ffffff;
	text-decoration: none;
}

.menu p {
	clear: left;
}

/** Simple Form styling **/
form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 1em 0;
	border: none;
	border-top: 1px solid #ccc;
}

legend {
	margin: 1em 0;
	padding: 0 .5em;
	color: #036;
	background: transparent;
	font-size: 1.3em;
	font-weight: bold;
}

label {
	float: left;
	width: 150px;
	padding: 0 1em;
	text-align: right;
}

fieldset div {
	margin-bottom: .5em;
	padding: 0;
	display: block;
}

fieldset div input,fieldset div textarea {
	width: 280px;
	border-top: 1px solid #555;
	border-left: 1px solid #555;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 1px;
	color: #333;
}

fieldset div select {
	padding: 1px;
}

div.fm-multi div {
	width: 300px;
}

fm-multi span {
	width: 100%;
	padding: 0 1em;
	text-align: right;
}

fm-multi label {
	width: 100%;
	padding-left: 5em;
	text-align: left;
	display:block;
}

#fm-submit {
	clear: both;
	padding-top: 1em;
	text-align: center;
}

#fm-submit input {
	border: 1px solid #333;
	padding: 2px 1em;
	background: #555;
	color: #fff;
	font-size: 100%;
}

input:focus,textarea:focus {
	background: #efefef;
	color: #000;
}

fieldset div.fm-req {
	font-weight: bold;
}

fieldset div.fm-req label:after {
	content: " *";
}

/** Form Gender special case **/
.fm-multi div{
	float:left;
	width: 884px !important;
}
.fm-multi div span{
	height:40px;
	display:block;
	float:left;
	width: 150px;
	text-align:right;
	padding:0 14px;
	margin:0;
	clear:left;
}
.fm-multi div label{
	float: left;
	width: 500px;
	text-align:left;
	padding:0;
}
.fm-multi div label input{
	width: 20px;
}
/** Pagination **/
.pagination {
	margin-top:20px;
	background-color: #fff;
	text-align:right;
}

/** Tables **/
table {
	background-color:#DDD;
}
td {
	border: 1px solid #000;
}

/** Denied errors **/
.denied {
	color: red;
	font-style: italic;
	text-decoration:underline;
}
